<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="Palavras" value="Tapoer,Pano de Prato, Garfos , Facas , Colheres ,Jarra de Vidro , colher de Pau , Escorredor de Arroz , Abridor de latas , Peneiras , concha , Cortador de Pizza , Pano de Pia , Colher para Sorvete , Jarra para água , Escorredor de Macarrão , Pirex de Vidro , colher de silicone , rodo de pia , Frigideira , Escumadeira , Leiteira , Ralador , pegador de salada , Espátula para bolo , Porta Guardanapo , Paliteiro , descascador de legumes , Formas , Luva de Silicone , Jogo de Copo , Abridor de garrafas , Desentupidor de Pia , Porta Frios , Porta Tempero , Prendedor , Balde , Escova de Roupa , Saladeira , Tábua de Carne , Copo de Medida , Saleiro , Pano de Chão , Pá , Vassoura , Espremedor de Laranja , Pegador de Macarrão ,  Coador de Café , Pratos Cabides , Xicaras , Bacia de Roupa , Toalha de Rosto , Espremedor de Alho , Bandeja  Funil , Forma para Gelo , Pincel de Silicone , Pote de Vidro , Cesto de Roupa , Lixeira de Pia  , Concha"/>
      
      </appSettings>
</configuration>